.cart-content {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.cart-empty-text {
	height: 100%;
	display: flex;
	flex-direction: column;
  justify-content: center;

	font-size: 2rem;
	text-align: center;
}