.flowers-grid {
  flex-grow: 1;
  padding: 0.875rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem 2.5rem;
  align-items: stretch;
  overflow-y: auto;
  height: 100%;

  @media (min-width: 1280px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
